<mat-card>
    <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content [routerLink]="['', item.id]" >
        <img class="poster" [src]="item | poster" alt="">
        <div>
            <span>
                <strong>
                    Vote:
                </strong>
                {{item.vote_average}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button 
            color="primary"
            (click)="getId($event)"
            *ngIf="show"
            >
            <mat-icon id="{{item.id}}">delete</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button 
            color="warn"
            *ngIf="!show"
            (click)="getId($event)">
            <mat-icon id="{{item.id}}">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>